<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="footer">
        <nav class="navbar fixed-bottom navbar-light bg-faded">
            <ul class="social-links">
                <li>
                Follow on <a href="https://yahoo.com" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" style="border:0;width:20px;height:20px;" alt="" /></a>
                </li>
                <li>
                Test on <a href="https://google.com" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" style="border:0;width:20px;height:20px;" alt="" /></a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>

