<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head-fragment">
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <form class="form-horizontal" method="post" th:object="${form}" th:action="@{/task/create}">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Create new task</h2>
                <hr/>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">Title</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="title" name="title" class="form-control" id="email" th:value="*{title}"
                               required="true" autofocus="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="description">Description</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="description" name="description" class="form-control" id="description"
                               th:value="*{description}" required="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-plus-square"></i> Create</button>
            </div>
        </div>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>